body {
  background: url(../webapp/company.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Poppins, sans-serif";
}
h3 {
  text-align: center;
  padding-top: 15px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 30%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 100px;
  outline: none;
}
button[type="Submit"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
button[type="reset"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
